   # Ficheros del sistema
   .DS_Store
   Thumbs.db

   # Configuración de editores
   .vscode/
   .idea/

   # Dependencias
   node_modules/
   venv/
   __pycache__/

   # Compilación / build
   dist/
   build/
   *.log
